In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
!ls '../files/'

image_labels.csv           train_baseline_helmets.csv
sample_submission.csv      train_labels.csv
test_baseline_helmets.csv  train_player_tracking.csv
test_player_tracking.csv

In [3]:
# image label dataset
image_labels = pd.read_csv('../files/image_labels.csv')

path_to_save = '../dataset/labels/'

In [4]:
image_labels.head()

                               image   label  left  width  top  height
0  57503_000116_Endzone_frame443.jpg  Helmet  1099     16  456      15
1  57503_000116_Endzone_frame443.jpg  Helmet  1117     15  478      16
2  57503_000116_Endzone_frame443.jpg  Helmet   828     16  511      15
3  57503_000116_Endzone_frame443.jpg  Helmet   746     16  519      16
4  57503_000116_Endzone_frame443.jpg  Helmet   678     17  554      17

In [5]:
image_labels[image_labels.label != 'helmet']

                                     image   label  left  width  top  height
0        57503_000116_Endzone_frame443.jpg  Helmet  1099     16  456      15
1        57503_000116_Endzone_frame443.jpg  Helmet  1117     15  478      16
2        57503_000116_Endzone_frame443.jpg  Helmet   828     16  511      15
3        57503_000116_Endzone_frame443.jpg  Helmet   746     16  519      16
4        57503_000116_Endzone_frame443.jpg  Helmet   678     17  554      17
...                                    ...     ...   ...    ...  ...     ...
193731  58167_003154_Endzone_frame0808.jpg  Helmet   928     29  549      23
193732  58167_003154_Endzone_frame0808.jpg  Helmet  1149     25  278      23
193733  58167_003154_Endzone_frame0808.jpg  Helmet   839     31  663      29
193734  58167_003154_Endzone_frame0808.jpg  Helmet   918     29  680      25
193735  58167_003154_Endzone_frame0808.jpg  Helmet  1090     26  688      25

[193736 rows x 6 columns]

In [6]:
image_labels.head()

                               image   label  left  width  top  height
0  57503_000116_Endzone_frame443.jpg  Helmet  1099     16  456      15
1  57503_000116_Endzone_frame443.jpg  Helmet  1117     15  478      16
2  57503_000116_Endzone_frame443.jpg  Helmet   828     16  511      15
3  57503_000116_Endzone_frame443.jpg  Helmet   746     16  519      16
4  57503_000116_Endzone_frame443.jpg  Helmet   678     17  554      17

In [26]:
image_labels.replace('^Helmet', 0, inplace=True, regex=True)

In [27]:
image_labels.head()

,image,label,left,width,top,height
0,57503_000116_Endzone_frame443.jpg,0,0.858594,0.012500,0.633333,0.020833
1,57503_000116_Endzone_frame443.jpg,0,0.872656,0.011719,0.663889,0.022222
2,57503_000116_Endzone_frame443.jpg,0,0.646875,0.012500,0.709722,0.020833
3,57503_000116_Endzone_frame443.jpg,0,0.582812,0.012500,0.720833,0.022222
4,57503_000116_Endzone_frame443.jpg,0,0.529687,0.013281,0.769444,0.023611

In [9]:
# normalize labels

imgHeight = 720
imgWidth = 1280

image_labels.top /= imgHeight
image_labels.height /= imgHeight
image_labels.left /= imgWidth
image_labels.width /= imgWidth

In [10]:
image_labels.head()

,image,label,left,width,top,height
0,57503_000116_Endzone_frame443.jpg,0,0.858594,0.012500,0.633333,0.020833
1,57503_000116_Endzone_frame443.jpg,0,0.872656,0.011719,0.663889,0.022222
2,57503_000116_Endzone_frame443.jpg,0,0.646875,0.012500,0.709722,0.020833
3,57503_000116_Endzone_frame443.jpg,0,0.582812,0.012500,0.720833,0.022222
4,57503_000116_Endzone_frame443.jpg,0,0.529687,0.013281,0.769444,0.023611

In [18]:
#helmet is label 0
#so the txt file have every entry as 0 followed by x_center y_center width height
fileBeingProcess = ''
indexToBeTxt = []
savePath = '../dataset/labels/'

for imageFile, index in zip(image_labels.image, image_labels.index):
    
    if fileBeingProcess == '':
        fileBeingProcess = imageFile
        
    if imageFile == fileBeingProcess:
        indexToBeTxt.append(index)
    else:
        fileName = fileBeingProcess.replace('.jpg', '.txt')
        
        fileBeingProcess = imageFile
        
        dataToTxt = image_labels.loc[indexToBeTxt]
        dataToTxt.drop('image', axis=1, inplace = True)
        dataToTxt.to_csv(os.path.join(savePath, fileName), sep='\t', index=False, header=False)
        
        indexToBeTxt = []

KeyboardInterrupt:

In [25]:
'Helmet-Blurred'
image_labels[image_labels.label == 'Helmet-Blurred']

,image,label,left,width,top,height
20,57503_000116_Endzone_frame443.jpg,Helmet-Blurred,0.542969,0.009375,0.309722,0.020833
21,57503_000116_Endzone_frame443.jpg,Helmet-Blurred,0.507031,0.007031,0.620833,0.015278
22,57503_000116_Sideline_frame490.jpg,Helmet-Blurred,0.307812,0.007812,0.477778,0.018056
23,57503_000116_Sideline_frame490.jpg,Helmet-Blurred,0.365625,0.008594,0.401389,0.016667
24,57503_000116_Sideline_frame490.jpg,Helmet-Blurred,0.294531,0.007031,0.373611,0.016667
...,...,...,...,...,...,...
193702,58167_002809_Sideline_frame1804.jpg,Helmet-Blurred,0.612500,0.006250,0.263889,0.011111
193703,58167_002809_Sideline_frame1804.jpg,Helmet-Blurred,0.567187,0.005469,0.254167,0.011111
193704,58167_002809_Sideline_frame1804.jpg,Helmet-Blurred,0.252344,0.005469,0.251389,0.011111
193717,58167_002854_Endzone_frame0799.jpg,Helmet-Blurred,0.711719,0.014844,0.298611,0.030556
193718,58167_002854_Endzone_frame0799.jpg,Helmet-Blurred,0.217188,0.021875,0.451389,0.031944